@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;700&family=Lexend+Deca&display=swap');

:root {
  --blue: #3EA1DB;
  --span: #B6B6B6;
  --blue-dark: #574AE8;
  --heart: #574AE8;
  --white: #FFF;
  --card: #FFF;
  --text-header: #FFF;
  --background: #F3F5F7;

  --title: #313131;
  --text: #B6B6B6;
  
  --linear: linear-gradient(90deg, #574AE8 0%, #3EA1DB 100%);
}

[data-theme= "dark"] {
  --blue: #3EA1DB;
  --span: #3EA1DB;
  --heart: #3EA1DB;
  --blue-dark: #574AE8;
  --white: #FFF;
  --card: #202020;
  --text-header: #574AE8;
  --background: #181818;

  --title: #FFF;
  --text: #E5E5E5;
  
  --linear: #202020;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

}

html {
  font-size: 62.5%;
}

body {
  background: var(--background);
}

/*HEADER*/

header {
  width: 100%;
  height: 250px;
  background: var(--linear);
  font-family: 'Lexend Deca', sans-serif;
}

.text-header {
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 96rem;
  width: 100%;
  font-size: 2.4rem;
  color: var(--text-header);
  
  padding-top: 40px;
  padding-bottom: 60px;

  font-weight: 400;
}


.search-bar{
  display: flex;
  align-items: center;
  justify-content: center;
}

.search-bar input {
  padding: 0 50px;
  max-width: 96rem;
  width: 100%;

  border: none;
  border-radius: 5px;

  height: 65px;
  background: rgba(255, 255, 255, 0.2);

  background-image: url(../img/lupa.svg);
  background-repeat: no-repeat ;
  background-position: 10px, 16px;
  
  color: var(--white);

  font-size: 1.5rem;
  font-family: 'Lexend Deca', sans-serif;
}

input::placeholder {
  color: var(--white);
  font-family: 'Inter', sans-serif;
  font-weight: 400;
  font-size: 1.5rem;

  opacity: 50%;
}

input:focus {
  outline: none;
}

.theme {
  font-size: 2.4rem;
  cursor: pointer;

  color: var(--text-header);
}

/*NEWS SECTION*/

.news-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;

}

.news{
  width: 96rem;
  max-width: 100%;
  height: auto;

 cursor: pointer;

  background: var(--card);
  padding: 25px;
  box-shadow: 0px 0px 10px 0px #13131F0D;
 
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);

  border-radius: 5px;
  font-family: 'Lexend Deca', sans-serif;
  
  margin-top: 50px;
}

.news p {
  color: var(--text);
  line-height: 32px;
  font-size: 1.6rem;
}

.news h1 {
  color: var(--title);
  font-size: 2.6rem;
  font-weight: 400;
  
  padding-bottom: 10px;
}

.news:first-child {
  margin-top: 100px;
}

.news:last-child {
  margin-bottom: 50px;
}

.date-like {
  display: flex;
  align-items: center;
  justify-content: space-between;

  padding-bottom: 20px;

  overflow: hidden;
}

.date-like span {
  color: var(--span);
  font-size: 1.6rem;
}

.date-like i {
  font-size: 24px;
  color: var(--heart);
  
  cursor: pointer;

  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

.date-like i:hover {
  opacity: 50%;
}

/*SCROLL BAR STYLE*/

::-webkit-scrollbar {
  width: 10px;
}


::-webkit-scrollbar-track {
  background: #f1f1f1;
}


::-webkit-scrollbar-thumb {
  background:#3321ff ;
  border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover {
  background: var(--blue-dark);
}




/*MEDIA QUERIES*/

@media (min-width: 768px) and (max-width: 1024px) {
  html {
    font-size: 58%;
  }

  header {
    height: 235px;
  }

  .search-bar input {
    width: 70rem;
    height: 60px;

    background-size: 3rem;
    background-position: 13px 15px;
  }

  .text-header {
    width: 70rem;

    padding-bottom: 65px;
  }

  .news{
    width: 70rem;
  }

  .news:first-child {
    margin-top: 80px;
  }
}

@media (min-width: 482px) and (max-width: 767px) {
  html {
    font-size: 58%;
  }

  header {
    height: 220px;
  }

  .search-bar input {
    width: 47rem;
    height: 50px;
    
    background-size: 2.8rem;
    background-position: 15px 12px;
  }

  .text-header {
    width: 47rem;

    padding-bottom: 60px;
  }

  .news{
    width: 47rem;
  }

  .news:first-child {
    margin-top: 60px;
  }
}

@media (min-width:320px) and (max-width: 481px) {
  html {
    font-size: 55%;
  }

  header {
    height: 190px;
  }

  .search-bar input {
    width: 32rem;
    height: 40px;

    background-size: 2.5rem;
    background-position: 15px 9.5px;
  }

  .text-header {
    width: 32rem;

    padding-bottom: 50px;
  }

  .news{
    width: 32rem;
  }

  .news:first-child {
    margin-top: 45px;
  }
}